{% extends "base.html" %} {% block content %}
<div class="container">
  <h3>Total Item Count - {{total_count}}</h3>
  <br />
  <table class="table table-bordered">
    <tr>
      <th>Item</th>
      <th>Count</th>
      <th>Action</th>
    </tr>

    {% for i in all_items %}
    <tr>
      <td>{{i.item}}</td>
      <td>{{i.count}}</td>
      <td>
        <div class="row">
            <div class="col-sm-6 text-center">
                <form action="{% url 'add_item' i.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn"><i class="fa fa-plus"></i></button>
                </form>
            </div>
            <div class="col-sm-6 text-center"></div>
                <form action="{% url 'remove_item' i.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn"><i class="fa fa-minus"></i></button>
                </form>
            </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Item</button> -->

<!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog"> -->

    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->
</div> 
{% endblock %}
